
@{
    ViewData["Title"] = "List";
}


<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">產品列表</h6>
            <form class="d-none d-md-flex ms-4">
                <div class="col-md-3">
                    <input class="form-control bg-dark border-0 " type="search" placeholder="輸入商品名稱">
                    <input class="btn btn-secondary m-2" type="submit" value="搜尋" />
                </div>

            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">序號</th>
                            <th scope="col">優惠名稱</th>
                            <th scope="col">販售期限</th>
                            <th scope="col">折數</th>
                            <th scope="col" class="col-md-4">開|關</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*商品組*@
                        <tr>
                            <th scope="row">1</th>
                            <td>父親節優惠</td>
                            <td>2022/8/31</td>
                            <td>88</td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option>開</option>
                                    <option>關</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success m-2" style="font-size:0.8em">編輯</button>
                                <button type="button" class="btn btn-danger  m-2" style="font-size:0.8em" name="delete">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>