
@{
    ViewData["Title"] = "HelpByAccountDetail";
}

<head>


    <link rel="stylesheet" href="/css2/all.css" />

</head>

<body>

    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/wrong_question.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                @*<h1 class="display-3 text-white mb-3 animated slideInDown">IGO Helper</h1>*@
                <h3 style="color:orange">您好。請問您需要甚麼協助?</h3>
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>

                @*<nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">IGO Helper</li>
                        </ol>
                    </nav>*@



            </div>


        </div>

    </div>


    <div id="full-1">
        <div class="col-md-2"> </div>

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">幫助中心</a></li>
                <li class="breadcrumb-item"><a href="#">帳號相關</a></li>
                <li class="breadcrumb-item active" aria-current="page">【註冊】如何註冊IGO帳戶？</li>
            </ol>
        </nav>

        <div class="col-md-8" style="margin:auto; background-color: white; border-radius:20px 20px ">
            <br />


           
                <div  style="color: darkorange" align="left">
                    <h5 class="card-title" style="color:orange"  align="center">【註冊】如何註冊IGO帳戶？</h5>
                    <br />
                    <h6 style="color:wheat">創建IGO帳號完全免費，您可透過 [社交平台帳戶登入] 以及 [免費email註冊] </h6>
                    <p class="card-text" >
                        <ul style="list-style: none">
                            <li style="list-style: none">
                                使用社交平台帳戶登入（Facebook、Line、Google+）

                            </li>

                            <li style="list-style: none">
                                1.進入IGO.com，點選右上方『登入/註冊』，選擇您需使用之社交平台。
                            </li>
                            <li style="list-style: none">
                                2.輸入您的社交平台帳號及密碼。
                            </li>
                            <li style="list-style: none">
                                3.要求允許『同意』。
                            </li>
                            <li style="list-style: none">
                                4.若為LINE登入，輸入您的聯絡信箱（若為Facebook、Google+ 請忽略此步驟）。
                            </li>
                            <li style="list-style: none">
                                5.登入帳戶成功後，官網右上方將會顯示您的社交平台大頭貼，即可訂購商品。
                            </li>


                            <li style="list-style: none">
                                IGO官網上使用email註冊

                            </li>

                            <li style="list-style: none">
                                1.進入IGO.com，點選右上方『登入/註冊』，選擇下方『免費註冊』。
                            </li>


                            <li style="list-style: none">
                                2.填寫您的電子信箱以及預設密碼，點選『註冊』。
                            </li>


                            <li style="list-style: none">
                                3.至您的電子信箱內查收驗證信件，點選信件中的網址顯示『聯絡信箱驗證成功』。
                            <li>

                            <li style="list-style: none">
                                4.至IGO.com點選右上方『登入/註冊』，輸入您的帳號密碼登入後即可訂購商品。


                            </li>




                        </ul>

                    </p>
                    <hr />
                    <label style="color:orange">這是否有幫助？</label>
                    <a href="#" class="card-link">是 </a>
                    <label>/</label>
                    <a href="#" class="card-link">否</a>
                </div>
            </div>


        </div>
        <div class="col-md-2"> </div>
        @*Bottom*@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Bottom*@
        <!-- Footer End -->
        <!-- Back to Top -->
</body>

