





<head>


<link rel="stylesheet" href="/css2/all.css" />

</head>

<body>

    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/wrong_question.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                @*<h1 class="display-3 text-white mb-3 animated slideInDown">IGO Helper</h1>*@
                <h3 style="color:orange">您好。請問您需要甚麼協助?</h3>
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>

                @*<nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">IGO Helper</li>
                        </ol>
                    </nav>*@



            </div>


        </div>

    </div>


    <div id="full-1">
        <div class="col-md-2"> </div>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">幫助中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">帳號相關</li>
            </ol>
        </nav>

        <div class="col-md-8" style="margin:auto;background-color:white" border-radius:20px 20px>
            <br />


            <br />
            <br />
            <ul align="left" style="color:orange;font-size:larger">
                <img src="/img/account  24.png" />
                註冊


                <hr />

                <li style="list-style: none; font-size: medium"><a href="/Helper/HelpByAccountDetail">【註冊】如何註冊IGO帳戶？</a></li>
                <li style="list-style: none; font-size: medium">【註冊】訂購需要先入會員嗎？</li>



            </ul>
            <br />
            <br />
            <ul align="left" style="color:orange;font-size:larger">
                <i class="fa-solid fa-key"></i>
                設置和密碼


                <hr />

                <li style="list-style: none; font-size: medium">【帳號設定】如何重置密碼？</li>
                <li style="list-style: none; font-size: medium">【帳號設定】如何更改我在IGO使用的電子郵件地址呢？</li>
                <li style="list-style: none; font-size: medium">如何更改個人資料？</li>
                <li style="list-style: none; font-size: medium">我要怎麼刪除帳號？</li>



            </ul>

            <br />
            <br />
            <ul align="left" style="color:orange;font-size:larger">
                <i class="fa-solid fa-comments"></i>
                評論與折扣


                <hr />

                <li style="list-style: none; font-size: medium">為什麼我看不到我自己的評論？</li>
                <li style="list-style: none; font-size: medium">如何刪除評論或修改顯示名稱？</li>
                <li style="list-style: none; font-size: medium">訂購成功後忘記輸入折扣代碼怎麼辦？</li>
                <li style="list-style: none; font-size: medium">我要如何查看我的折扣券領取紀錄及兌換紀錄？</li>




            </ul>
            <br />
        </div>

        <div class="col-md-2"> </div>



        @*Bottom*@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Bottom*@
        <!-- Footer End -->
        <!-- Back to Top -->

</body>





