


<head>
    <link rel="stylesheet" href="/css2/Questionnaire-web.css">

</head>
<body>
    <div id="full-1">
        <div class="col-md-3"> </div>


        <div class="col-md-6" style="margin:auto;align-content:center">

            <form class="card p5" id="astrology">
                <img src="~/img/astrology.png" width="64" style="display:block; margin:auto;" />


                <h1 align="center" style="color:gold">IGO 心理趣味測驗</h1>

                <h6 align="center" style="color:palevioletred;font-style:oblique;font-family:'Yu Gothic'">
                    旅途中有許多空出來的時間，除了發呆外還能好好的和自己說話
                </h6>
                <br />
                <div align="center"><img src="~/img/relax.jpg" width="600" /> </div>


                <br />
                <div style="width: 550px; height: 300px; border: 3px #cccccc dashed; color: white; margin: 0px auto;">

                    <h2 style="color:pink"> 1~24分：悠哉悠哉型 </h2>

                    旅行就是要軟爛放空呀～行程那麼滿，整天在趕來趕去，那麼累幹嘛？這類人喜歡悠閒自在的旅行，即使安排好的行程大更動，只要能讓心情愉悅，有什麼不可以？比起喧囂的都市漫遊，更適合放鬆的緩慢的旅遊，像是古蹟之旅、到海島國家度假。

                    推薦給您=>展覽票八五折
                    <br/>
                    <br/>
                    IGO 送您折扣碼:
                    <button style="color: white; margin-bottom: 10px; display: block; margin: 0 auto" class="btn btn-info"> XYZ </button><br />

                </div>

                    <br>

            </form>




        </div>


        <div class="col-md-3"></div>

    </div>

    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s" id="full-1">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@

</body>









