@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container-fluid pt-4 px-4">*@
    @*<div class="row g-4">
        <div class="col-sm-12 col-xl-6">*@
<div class="@*bg-secondary*@ rounded">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">名字</th>
                <th scope="col">姓氏</th>
                <th scope="col">訂單日期</th>
                <th scope="col">付款方式</th>
                <th scope="col">訂單狀態</th>
                <th scope="col">訂單狀態</th>
                <th scope="col">總價格</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">204</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>06 25 2021 12:00AM</td>
                <td>信用卡</td>
                <td>完成訂單</td>
                <td>$3059</td>
            </tr>
            <tr>
                <th scope="row">204</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>06 25 2021 12:00AM</td>
                <td>信用卡</td>
                <td>完成訂單</td>
                <td>$3059</td>
            </tr>
            <tr>
                <th scope="row">247</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>12 17 2021 12:00AM</td>
                <td>信用卡</td>
                <td>完成訂單</td>
                <td>$1635</td>
            </tr>
            <tr>
                <th scope="row">236</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>05  2 2022 12:00AM</td>
                <td>信用卡</td>
                <td>已下訂</td>
                <td>$911</td>
            </tr>
            <tr>
                <th scope="row">359</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>09 25 2021 12:00AM</td>
                <td>信用卡</td>
                <td>取消訂單</td>
                <td>$16800</td>
            </tr>
            <tr>
                <th scope="row">376</th>
                <td>花兒</td>
                <td>戴樂古</td>
                <td>03 27 2022 12:00AM</td>
                <td>信用卡</td>
                <td>已下訂</td>
                <td>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>已下訂</option>
                        <option value="1">取消訂單</option>
                        <option value="2">已出貨</option>
                        <option value="3">完成訂單</option>
                        <option selected>取消程序中</option>
                    </select>
                </td>
                <td>$25444</td>
            </tr>
        </tbody>
    </table>
</div>
        @*</div>
    </div>*@
@*</div>*@
