
<style>
    .photo-fit {
        width: 100%;
        height: 360px;
        /*object-fit: cover;*/
    }
</style>
<div class="row" style="padding-top:1rem">
    <div class="row p-3">
        <div class="col-md-8 col-sm-12">
            <h3 class="fw-bold">台北喜來登大飯店｜十二廚</h3>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" class="active" data-bs-target="#myCarousel" data-bs-slide-to="0"></button>
                    <button type="button" class="" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
                    <button type="button" class="" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
                    <button type="button" class="" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
                </div>
                <div class="carousel-inner bg-secondary">
                    <div class="carousel-item text-center active">
                        <img class="photo-fit" src="~/img/cook-1.jpg" />
                    </div>
                    <div class="carousel-item text-center">
                        <img class="photo-fit" src="~/img/cook-2.jpg" />
                    </div>
                    <div class="carousel-item text-center">
                        <img class="photo-fit" src="~/img/cook-3.jpg" />
                    </div>
                    <div class="carousel-item text-center">
                        <img class="photo-fit" src="~/img/cook-4.jpg" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">上一張</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">下一張</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="m-3">
                        <span class="fw-bold">票種</span>
                        <input type="radio" class="btn-check" id="ticket1" name="ticket" value="1" data-price="1,850">
                        <label class="btn btn-outline-primary" for="ticket1">全票</label>
                        <input type="radio" class="btn-check" id="ticket2" name="ticket" value="2" data-price="1,120">
                        <label class="btn btn-outline-primary" for="ticket2">半票</label>
                        <input type="radio" class="btn-check" id="ticket3" name="ticket" value="3" data-price="1,540">
                        <label class="btn btn-outline-primary" for="ticket3">優待票</label>
                        @*@foreach (var item in Model.Tickets)
                            {
                                <input type="radio" class="btn-check" id="ticket@(item.TicketAndProductId)" name="ticket" value="@item.TicketAndProductId" data-price="@item.Price">
                                <label class="btn btn-outline-primary" for="ticket@(item.TicketAndProductId)">@item.TicketName</label>
                            }*@
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">日期</span>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">數量</span>
                        <input type="number" class="form-control" id="input-quantity" />
                    </div>
                    <div class="m-3">
                        <span class="fw-bold">價格</span>
                        <span id="lbl-price">TWD - 元</span>
                    </div>
                    <div class="m-3">
                        <button type="button" class="btn btn-primary" id="btn-add-cart">
                            <i class="bi bi-cart-plus"></i>
                            加入購物車
                        </button>

                        <button type="button" class="btn btn-outline-secondary" id="btn-collection">
                            <i class="bi bi-heart"></i>
                            加入收藏
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-2 bg-light">
        <nav id="side-nav" class="navbar navbar-light flex-column align-items-stretch p-3 fixedElement">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#description">商品說明</a>
                <a class="nav-link" href="#address">使用地址</a>
                <a class="nav-link" href="#cancel-policy">取消政策</a>
                <a class="nav-link" href="#reviews">客戶評論</a>
            </nav>
        </nav>
    </div>
    <div class="col-10">
        <div>
            <div id="description">
                <h3 class="fw-bold text-primary">
                    <u>商品說明</u>
                </h3>
                <div class="textEditor">
                    @*@Html.Raw(Model.Introduction)*@
                    <strong>平日 早 / 晚餐-全自助式&nbsp;</strong><br>
                    早餐 NT$550+10%&nbsp;<br>
                    晚餐 NT$980+10%&nbsp;<br>
                    <br>
                    <strong>假日&nbsp;早 / 晚餐-全自助式&nbsp;</strong><br>
                    早餐 NT$550+10%&nbsp;<br>
                    晚餐 NT$1,080+10%&nbsp;<br>
                    <br>
                    <u>餐費標準</u><br>
                    0-2歲 / 不收費&nbsp;<br>
                    3-6歲 / 清潔費NT100元，服務費不計&nbsp;<br>
                    7-12歲 / 餐期收費半價，服務費另計&nbsp;<br>
                    13歲以上依餐期全價收費，服務費另計<br>
                    <br>
                    <u>自帶酒水本餐廳酌收酒水服務費&nbsp;</u><br>
                    葡萄酒類NT$300&nbsp;烈酒類NT$500&nbsp;<br>
                    <br>
                    <br>
                    平日定義: 週一~週五&nbsp;<br>
                    假日定義:週六、週日、特殊假日<br>
                    <span style="font-size:13px;">&nbsp;(連續假日暨連續假日前夕、特殊節日暨農曆期間，收費將另行公告。)</span><br>
                    <br>
                </div>
            </div>


            <div id="address" class="pt-5">
                <hr />
                <h3 class="fw-bold text-primary"><u>使用地址</u></h3>
                <div class="row">
                    <p style="font-size: 1.3em">台北市中正區忠孝東路一段12號1樓</p>
                </div>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6890887995205!2d121.51981641400289!3d25.04462324402163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a971b0535025%3A0x9a800c32c8ff2768!2z5Y2B5LqM5bua5Y-w5YyX5Zac5L6G55m75aSn6aOv5bqX!5e0!3m2!1szh-TW!2stw!4v1657432513056!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>

            <div id="cancel-policy" class="pt-5">
                <hr />
                <h3 class="fw-bold text-primary"><u>取消政策</u></h3>
                <div>
                    @*@Html.Raw(Model.CancellationPolicy)*@
                    所選日期 1 天（含）之前取消，收取手續費 0%<br>
                    所選日期 0 ~ 0 天之間取消，收取手續費 100%<br>
                    <br>
                    注意：由於站內商品來自全球各地，訂單取消時間將依該供應商所在時區判定。<br>
                    供應商需 2-5 個工作天進行取消流程，依照您購買的商品取消政策收取手續費，並於取消流程完成後14 個工作天內退款。<br>
                    <br>
                </div>
            </div>

            <div id="reviews" class="pt-5">
                <h3 class="fw-bold text-primary"><u>客戶評論</u></h3>
                @*@foreach (var item in Model.Feedbacks)
                    {*@
                <div class="row g-2">
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">howhow</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    好吃
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">Jason</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    服務品質很好
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">
                            <div class="user-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="user-content">
                                <h5 class="mb-0 fw-bold">jack</h5>
                                <h6>2022-07-10</h6>
                                <p>
                                    超好吃
                                </p>
                            </div>
                            <div class="ratings">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @*}*@
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('[name=ticket]').click(function () {
                var value = $(this).attr('data-price');
                $('#lbl-price').text(`TWD ${value}  元`);
            });

            $('#btn-add-cart').click(function () {
                alert("加入購物車成功!");
            })
            $('#btn-collection').click(function () {
                alert("加入蒐藏成功!");
            })
        });
    </script>
}
@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@


