@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>

    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/Privacy.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">隱私權相關政策</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">首頁</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page">IGO 服務條款</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div id="full-1">
        <div class="col-md-2"> </div>


        <div class="col-md-8" style="margin:auto;">


            <h6 align="center" style="color:orange;font-style:oblique;font-family:'Yu Gothic'">
                旅行是真正的知識最偉大的發源地
            </h6>
            <br />

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Privacy/index">服務條款</a>
                </li>
                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Privacy/Privacy2">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Privacy/LowPrice">最優價格保證</a>
                </li>
            </ul>
            <br/>
            <div style="font-size:small">
            <h1 id="" style="color:orange">使用條款</h1>
            <ul>
                <li>
                    <p><strong>1. 您的協議</strong></p>
                    <ul>
                        <li>1.1 此網站 www.IGO.com 及／或 IGO App (「IGO平台」) 由IGO Travel Techonology Limited營運。使用此網站與及由IGO Travel Technology Limited及其關聯公司（合稱「IGO」）或第三方營運商（「營運商」）透過IGO平台所提供的服務（「服務」）前請先詳閱條款（「本《使用條款》」）。此條款中使用的「您」及「您的」包括 (1) 任何進入IGO平台的人及 (2) 任何透過您購買服務的人</li>
                    </ul>
                </li>
                <li>
                    <p><strong>2.《使用條款》變更</strong></p>
                    <ul>
                        <li>
                            2.1 IGO修訂

                            <ul>
                                <li>2.1.1 IGO按本公司的絕對酌情權可隨時及不定時修改或更新本《使用條款》的權利，且無須提前通知。您應定期查閱最新版本的《使用條款》所述之約束。如果IGO修改或更新本《使用條款》，IGO會將變更或修正的內容張貼在此網頁上，並在此網頁的最下方指出本《使用條款》最近一次修訂的日期。</li>
                                <li>2.1.2 若您於該等更改後繼續使用IGO平台，即代表您同意並接受經修訂的《使用條款》。如您不同意本《使用條款》的任何修訂，請立即停止使用或存取IGO平台及服務。您有責任定期查閱IGO平台，以審核及確認本《使用條款》之任何變更。</li>
                                <li>2.1.3 此外，在使用服務時，您應接受任何不定時更新的所有與服務相關的額外條款約束，及IGO不時採納的隱私政策（下稱《隱私保護政策》）。本公司在此明示，所有此等條款被提及時，均被納入至本《使用條款》。</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><strong>3 登入及使用服務</strong></p>
                    <ul>
                        <li>
                            3.1 內容擁有權

                            <ul>
                                <li>3.1.1 IGO平台、網域名稱（www.IGO.com）、子網域、技術功能、資料內容及應用服務（包括但不限於行動應用服務）或與此相關由IGO定期提供的服務，一律由IGO所擁有和經營。</li>
                            </ul>
                        </li>
                        <li>
                            3.2 存取服務之權責

                            <ul>
                                <li>3.2.1 在本《使用條款》的規範下，IGO可自行或代表其他營運業者提供服務，此等服務在IGO平台上有更完整的說明。您在IGO平台上選取的服務只限您個人使用，不得供給任何第三方使用或獲取利任何利益利。「服務」一詞包括但不限於使用IGO平台，及使用IGO自行或代表其他業者在IGO平台上提供的任何服務。IGO有權不定期更改、暫停或終止任何服務，包括任何技術功能、資料存庫或內容訊息。IGO亦有權對個別服務加上規範、修訂條款，或限制您存取某部分或全部的服務，而無需提前通知。</li>
                                <li>3.2.2 IGO不會保證其服務能時刻運作或不受外在因素影響。IGO將不會對您於任何時間就無法運作之服務負責。您有責作出所有必要的安排以存取服務，及確保透過網路連線而存取服務的所有人都了解本《使用條款》和其他與服務有關可適用條款與細則。</li>
                                <li>3.2.3當您連結到IGO平台，IGO有絕對酌情權決定撤消您在任何時候連結到IGO平台的權利。IGO亦有權要求您必須先獲得書面許可後，才能連結到IGO平台。</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><strong>4. IGO平台與內容</strong></p>
                    <ul>
                        <li>
                            <p>4.1 內容的使用</p>
                            <ul>
                                <li>4.1.1 IGO平台採用或呈現的所有資料，包括但不限於文字、數據、圖像、文章、照片、影像、插圖、影片、聲效及其他素材及資料（下統稱為「內容」） ，皆受著作權及/ 或知識產權的保護。IGO平台所有內容一律只限您個人且非商業性使用的服務，並必須根據本《使用條款》之規範使用。</li>
                                <li>4.1.2 當IGO同意授權您存取IGO平台及／或IGO平台內容，此等授權該為非專屬、不得移轉，並只限根據本《使用條款》之規範而執行相關存取。IGO有絕對酌情權可隨時修訂、移除或變更IGO平台部分或所有內容的呈現、本質或功能性，而無須提前通知。</li>
                                <li>4.1.3 您必須遵守IGO平台及透過IGO平台存取的內容所包含的所有著作權公告、商標規範、相關資訊權限，且在未獲得個別持有人的事先書面同意前，您不得以違反第三方權利的方式，以任何理由或目的使用、複製、重製、修改、翻譯、刊載、傳播、傳輸、發放、執行、上傳、呈現、授權、出售或以其他方式利用IGO平台、IGO平台內容、第三方提交之資料，或其他非您所擁有的專屬權利。</li>
                            </ul>
                        </li>
                        <li>
                            <p>4.2 IGO對IGO平台及內容之權責</p>
                            <p>
                                <ul>
                                    <li>4.2.1 IGO無法保證您在使用IGO平台的過程中，可能與您互動的任何其他使用者為何人。IGO亦無法保證其他使用者或其他業者可能提供的任何內容、資料或資訊是否真實且正確。您須對使用IGO平台存取任何內容自行承擔風險，且若任何人因您的使用而產生任何損害或損失，皆必須由您個人單獨承擔責任。</li>
                                    <li>4.2.2 IGO在任何情況下皆無須對任何內容負責，包括但不限於內容的錯誤或疏漏，或因使用、公佈、使用電子郵件傳送、存取、傳輸網站及IGO平台的任何內容而產生的任何損害或損失。</li>
                                </ul>
                            <p></p>
                        </li>
                        <li>
                            <p>4.3 分類排序</p></p>
                            <p>
                                <ul>
                                    <li>4.3.1 根據您的喜好標準（例如：是否可預訂、價格、推薦、受歡迎程度、評價等），IGO提供搜尋結果的分類與篩選功能，並持續致力優化IGO平台，以期提供最佳使用者體驗，亦可能隨時修改預設搜尋結果演算方式。</li>
                                </ul>
                            <p></p></p>
                            <p>
                        </li>
                    </ul></p>
                    <p>
                </li>
                <li>
                    <p><strong>5. 知識財產權利</strong></p></p>
                    <ul>
                        <li>
                            5.1 知識財產

                            <ul>
                                <li>5.1.1 與IGO平台有關的所有知識產權皆屬於IGO，或已授權予IGO用於IGO平台。根據可適用的著作權法、國際公約及其他相關的知識產權法律，IGO平台、服務及內容為集體作品及/或編輯內容，應受著作權及其他知識產權法所保護。您承諾：（a）您不得對IGO平台之任何內容、軟體、資料或服務進行全部或部分修正、刊載、傳輸、參與轉移或出售、重製、以之為基礎創造衍生作品、發放、執行、呈現或以任何方式利用。（b）您僅限為個人且非商業性質之用途而下載或複製內容（以及呈現於IGO平台或與服務相關的其他項目），並確保您已遵守此等內容所含的所有著作權及其他條款公告。（c） 您不得以任何形式儲存相當大部分的任何內容。除個人非商業性質之用途外，在未獲得IGO或著作權公告中所指明的著作權持有人之事前書面允許前，本公司明確地禁止您複製或儲存任何內容。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>6. 使用者提交之資料</strong></p></p>
                    <ul>
                        <li>
                            6.1 上傳資料

                            <ul>
                                <li>6.1.1 在存取IGO平台或使用服務時，您提供的資訊可能會被IGO及/或與服務相關其他業者採用，而IGO平台的其他使用者將可能看到這些資訊。當您將資訊或內容張貼於IGO平台，或以其他方式將內容、資料或資訊（統稱「使用者提交之資料」）提供給IGO及／或與服務相關的其他業者時，即表示：（a）您授權IGO及其他業者在提供服務及經營IGO平台和IGO的業務時，使用部份或全部此等使用者提交之資料（包括此等資料的所有相關知識產權），包括但不限於使用任何媒體形式及透過任何媒體管道推廣和重新分配部分或所有服務（及衍生的作品），前述之授權為非專屬、可用於全球、免權利費、永久、不得撤銷、可轉授權且可移轉之權利；（b）您同意並授權IGO根據不定時生效的《隱私保護政策》來使用您的個人資料；（c）您也在此授權IGO平台的每個使用者透過IGO平台的功能，在本《使用條款》允許的範圍內，在IGO平台上存取您的使用者提交之資料，並使用、修正、重製、發放、編製衍生作品、呈現和執行此等使用者提交之資料，前述之授權為非專屬之權利；（d）您在此確認且同意，IGO有權重新編排、修正、創造衍生作品、摘錄和翻譯您的任何使用者提交之資料。為釐清疑義，除非另有書面議定，前述授與IGO之權利不會影響您對使用者提交之資料的所有權，或授權他人使用此等資料的權利；以及（e）您僅此聲明及保證您提交的用戶內容（包括、但不限於：文字、圖像及相片）沒有違反或損害任何現行法律、規章或第三方權益；以及（f）您必須獨自負責在IGO平台上公開張貼或透過IGO平台私下傳輸的所有使用者提交之資料，IGO不對任何內容的錯誤或疏漏上負任何責任。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>7. 使用者的聲明、保證及承諾</strong></p></p>
                    <ul>
                        <li>
                            7.1 使用IGO平台及服務

                            <ul>
                                <li>7.1.1 您向IGO聲明、保證及承諾不會以下述方式向第三方提供任何使用者的資料，或以此等方式使用IGO平台或服務：（a）侵害或違反任何第三方的智慧財產權或專屬權、公開權或隱私權或其他權利；（b）違反任何規章法令；（c）有害、欺詐、虛假、威脅、濫用、騷擾、侵害、誹謗、下流、淫穢、猥褻，或其他令人難以接受的方式；（d）未獲得IGO的事前以書面同意而參與商業性活動及/或銷售，例如競賽、博奕、以物易物、廣告或層壓式推銷；（e）誹謗或假冒任何人或法律實體，包括但不限於IGO的任何員工或代表人；或（f）包含病毒程式、特洛伊木馬程式、蠕蟲程式、定時炸彈程式，或其他有害的電腦程式碼、檔案或程式。</li>
                            </ul>
                        </li>
                        <li>
                            7.2 移除使用者提交之資料

                            <ul>
                                <li>7.2.1 IGO有權基於任何理由（包括但不限於收到第三方或主管機關有關此等使用者提交之資料的主張或指控，或IGO懷疑您可能已違反任何先前的聲明、保證或承諾）或不具任何理由，隨時將任何使用者提交之資料從IGO平台移除。</li>
                            </ul>
                        </li>
                        <li>
                            7.3 使用者提交資料之責任

                            <ul>
                                <li>7.3.1 您必須獨自對由您所上傳、張貼、使用電子郵件傳送、傳輸，或以其他方式發放，或連接與IGO平台有關的所有使用者提交之資料承擔全部責任。</li>
                                <li>7.3.2 您在此聲明且同意，您須獨自為所提交的個人使用者資料張貼或刊載於IGO平台負責。您且向IGO聲明、保證及承諾：（a） 您擁有或具有確實的權利、授權、同意、豁免及／或允許，可使用並授權IGO使用任何使用者提交之資料的所有著作權、商標或其他專屬或智識產權，因此IGO平台及本《使用條款》可納入和使用此等資料；以及（b） 使用者提交之資料以及您張貼、上傳、刊載、提交或傳輸此等資料，或IGO在IGO平台上或透過IGO平台提供的服務來使用此等資料（或其任何部分），均未侵犯、盜用或違反任何第三方的專利、著作權、商標、商業機密、道德權利、其他專屬知識產權，或者其他公開權或隱私權，且未違反任何可適用的法令規章。</li>
                                <li>7.3.3 您必須對您使用IGO平台及／或服務的所有相關活動負上全部責任。您且進一步向客戶聲明、保證及承諾，您不應：（a） 從事任何詐欺、濫用或其他不合法的活動，若您從事此等活動，我們可能終止您存取或使用IGO平台及／或服務的權利；或（b）出售或轉售從IGO平台或透過IGO平台獲得的任何產品、服務或預訂; 或 （c）將IGO平台用於商業或競爭活動或目的，或用於進行投機、虛假或欺詐性預訂或預期需求的任何預訂; 或（d）張貼或傳輸，或利用他人張貼或傳輸特別設計或故意的任何通訊或誘導內容；為取得IGO平台其他使用者的密碼、帳戶或私人資料，或（e） 違反任何電腦網路的安全規定、破解密碼或安全加密碼、移轉或儲存不合法的資料（包括可能被視為具有威脅性或猥褻的資料），或從事任何被明白禁止的違法活動；（f） 在IGO平台上執行郵件群組（maillist）、列表伺服（listserv）或任何其他形式的自動回覆程式或垃圾郵件，或在您未登入IGO平台的狀態下執行或啟動任何流程，或以其他方式干擾IGO平台基礎設備的適當運作，或對IGO平台基建加諸不合理的負擔；或（g） 使用手動或自動的軟體、裝置或其他流程，對IGO平台的任何網頁進行「爬梳」（crawl）、「抓取」（scrape）或「使用搜尋引擎蜘蛛」（spider）；以及（h） 對IGO平台的原始碼進行反譯、反向工程，或以其他方式試圖取得IGO平台的原始碼。</li>
                                <li>7.3.4 您將自行負責保存、記錄，及申報任何您透過IGO平台及/ 或服務所提供的活動之相關稅項、責任及政府所需徵收之費用。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>8. 註冊帳戶與安全保障</strong></p></p>
                    <ul>
                        <li>
                            8.1 開設IGO帳戶

                            <ul>
                                <li>8.1.1 在使用服務的過程中，您可能需應要求開設並維持一個IGO帳戶（下稱「IGO帳戶」）。</li>
                            </ul>
                        </li>
                        <li>
                            8.2 提供個人資料

                            <ul>
                                <li>8.2.1 基於部份服務的使用條款，您可能需應要求在本IGO上登記及設定密碼和用戶名稱（IGO用戶ID）。如果您透過第三方網站或服務登入，IGO將有可能要求您的IGO用戶ID與您於第三方網站或服務的用戶名稱一致。</li>
                                <li>8.2.2 您必須向IGO提供準確、完全及最新的用戶資料，若未有如實提供將被視作違反此使用條款而有可能被即時終止使用IGO帳戶的權利。</li>
                                <li>8.2.3 您聲明，您絕不應該：(a) 選擇或使用其他人的IGO用戶ID以圖模仿該人；或 (b) 未經授權下使用他人之IGO用戶ID。</li>
                                <li>8.2.4 IGO保留拒絕註冊或取消IGO帳戶的絕對酌情的權利。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>9. 評價 – 進一步對應 – 使用用戶內容之權利</strong></p></p>
                    <ul>
                        <li>9.1 為完成訂單，您同意接收預訂確認通知（電子郵件與/或app應用程式通知)，以及在完成活動訂單後將會收到邀請填寫活動評價的電子郵件或app應用程式通知。您可自由決定是否填寫。確認訂單通知及活動評價邀請皆是預訂流程的一部份，它們並不屬於廣告通訊或市場推廣的一部份。已完成的用戶活動評價會在72小時內上傳至IGO平台上的相關活動頁面，以告知（未來）用戶您對於此活動的服務（水準）和品質的意見。完成評價後，您的帳戶將有機會獲得IGO積分，相關積分可於符合條款與細則的情況下，用於下一次活動預訂。針對同一活動，無論您成功預訂一次或多次的活動，每個帳戶只能在同一個月內進行一次評論。如任何帳戶被發現濫用積分，IGO可直接從IGO帳戶扣減積分而無需事先通知。</li>
                        <li>9.2 透過公佈評價，表明您授予IGO對所有用戶內容完整、永久、免費、可轉讓及不可撤銷的權利。IGO有絕對酌情權自行決定對相關內容進行編輯、調整、拒絕採用或刪除的權利。</li>
                        <li>
                            9.3 您確認將遵守用戶評價規範，並聲明、保證：

                            <ul>
                                <li>9.3.1 您擁有及有權控制所公佈或發放的用戶內容，或您具有透過平台公佈或發放用戶內容的合法權利；</li>
                                <li>9.3.2 該內容準確並無誤導性；及</li>
                                <li>9.3.3 對該內容的使用、公佈或其他傳播行為沒有違反使用條款或任何相應法律及規例，且不會違反任何個人或機構的權利，及不會對其造成任何傷害。</li>
                            </ul>
                        </li>
                        <li>9.4 評價不可含有抵毀、污言穢語、不莊重、威脅及辱罵、鼓吹違法行為，亦不可含有其他人的個人資料如姓名、電話號碼或電子信箱及不相關內容如推廣訊息、邀請及獎賞資料。此外，評論不可含有誹謗、侵犯性，或違反其他的法律權利的內容。</li>
                        <li>9.5 您授予IGO向侵犯您或IGO權利及違反使用條款的人或機構保持法律追訴權利。您並同意獨自對所提供的用戶內容承擔全責。</li>
                        <li>9.6 由用戶所提交的內容將被視為非機密資訊，IGO亦沒有將之視為專屬資料。 除了以上所述，IGO則保留權利適當使用該內容，包括及不限於，删除、編輯、更改、不接受，或拒絕公佈。IGO不無需向您支付任何費用，亦無需為您提供編輯、刪除或更改已公佈的內容的機會。IGO沒有責任授予您該內容的署名權，也沒有責任執行第三方的署名權。請參考平台上的使用條款以了解更多。</li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>10. 訂單確認、票券、憑證、費用及付款</strong></p></p>
                    <ul>
                        <li>
                            10.1訂單確認

                            <ul>
                                <li>10.1.1 部分指定活動或服務接受即時確認。除此類活動或服務外，任何在IGO平台所述的確認時間僅供參考。實際所需確認時間，會因應情況有所調整。</li>
                            </ul>
                        </li>
                        <li>
                            10.2 購買及使用憑證

                            <ul>
                                <li>10.2.1 透過IGO平台，您可訂購由目的地供應商提供的服務電子憑證（下稱「憑證」）。在相關供應商的條款限制下，您將收到一封確認您訂單的電子郵件，其中將包含憑證的確認號碼（下稱「確認號碼」），以及可列印版本的您的憑證。</li>
                                <li>10.2.2 為了使用您的憑證，您必須親自準時出現在相關供應商指定的集合地點，且提出該供應商可能要求的文件及/或資料，這可能包括您的確認號碼及/或您列印的憑證。如果您無法準時出現，或未有提供必要的文件或資料，您將不會獲得服務或退款。</li>
                                <li>10.2.3 供應商可能要求您提供載有您照片的身份文件，才准許您使用您的憑證。如果您的憑證或確認號碼遺失、被破壞、遭偷竊，IGO或供應商均無需負上責任。此外，若法律禁止提供相關服務，憑證將失效。若您試圖以不合法的形式兌換憑證（例如：您欲參加品酒活動，但未達能使用該服務的規定年齡），相關供應商將可拒絕接受您的憑證，且無需安排退款。</li>
                            </ul>
                        </li>
                        <li>
                            10.3 憑證之《使用條款》

                            <ul>
                                <li>10.3.1 每項憑證的《使用條款》或因不同的供應商而異，適用於憑證的任何限制（包括但不限於最低年齡要求），將在您於IGO平台進行訂購時告知。</li>
                                <li>10.3.2 憑證為單次項目（下稱「項目」）的入場券；憑證上會載明可使用的期限。如果您未在憑證上載明的期限內使用憑證，除非憑證上另有明白規定，否則您將不獲退款。</li>
                            </ul>
                        </li>
                        <li>
                            10.4 取消憑證

                            <ul>
                                <li>10.4.1 您可在訂購時在IGO平台載明的取消期限內，聯絡IGO的客服部門以取消您的憑證。取消的聯絡窗口因個案而異。在成功取消使用憑證且收到必要的通知後，金額將會全數退款至您用來訂購該憑證的信用卡。</li>
                                <li>10.4.2 提供服務項目的是供應商，而非IGO，因此該項目的供應商應獨自接受或拒絕您訂購的任何憑證，並負責提供所有相關的服務。</li>
                                <li>10.4.3 若您對於該項憑證所獲得的相關服務有任何疑問或投訴，請向相關供應商查詢。所有憑證已支付的費用均不可退款，除非本《使用條款》明白規定。憑證是以訂購當日在IGO平台上載明的貨幣來報價。</li>
                                <li>10.4.4 如您所訂購的憑證的項目被相關供應商取消，IGO會盡快以合理的方法通知您，並會將金額全數退款至您用來訂購該憑證的信用卡。</li>
                            </ul>
                        </li>
                        <li>
                            10.5 要求協助

                            <ul>
                                <li>10.5.1 如您試圖根據本《使用條款》及適用於該憑證的相關使用條款來兌換使用憑證，但您無法成功使用（因為供應商的錯誤或其他原因），請透過電子信箱support@IGO.com聯絡IGO，IGO將嘗試與供應商聯繫，以尋求協商。</li>
                            </ul>
                        </li>
                        <li>
                            10.6  額外收費

                            <ul>
                                <li>10.6.1 IGO保留權利以為所提供的任何服務向您提出付款要求或收費。您應依照IGO平台的說明，支付您選擇的服務所需的所有適用的費用。</li>
                            </ul>
                        </li>
                        <li>
                            10.7 收費更改

                            <ul>
                                <li>10.7.1 IGO保留隨時變更價格及收費的權利，變更的內容可能透過電子郵件或張貼在IGO平台，若您於該等變更的通知發出後使用，或繼續使用該服務，代表您同意並接受變更後的價格。</li>
                            </ul>
                        </li>
                        <li>
                            10.8 IGO的權利及義務

                            <ul>
                                <li>10.8.1 IGO保留絕對酌情權以拒絕或取消任何可能違反此條款的服務訂單或訂購。</li>
                                <li>10.8.2 IGO致力提供或向供應商爭取以市場上的最優價值提供服務。您了解及認同任何於使用個別服務時所產生的稅項或額外費用，皆明確地排除在最優價格計算之外。</li>
                                <li>10.8.3 儘管供應商被要求向IGO平台上之服務提供準確及最新的價格，IGO無法保證所提供的服務於任何時候皆準確無誤。</li>
                            </ul>
                        </li>
                        <li>10.9 以上條款及細則及退款政策適用於全球的IGO用戶。</li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>11. 折扣</strong></p></p>
                    <ul>
                        <li>
                            11.1 IGO積分

                            <ul>
                                <li>11.1.1 IGO積分是一種可於IGO帳戶中累積並於指定日期內使用的積分獎賞。積分獎賞是透過於IGO平台預訂並實際參與過後，從未經退款的活動中獲取 。積分額依據個別產品及推廣設定而有所不同。每十（10）個授予的IGO積分價值為港幣一元整（HKD1.00）。該港元積分的匯率計算是根據閣下兌換當日IGO平台所採用的匯率計算方式為準。累計積分可用於IGO平台上兌換任何產品，或從閣下的總消費中扣除。</li>
                                <li>11.1.2 IGO積分可透過以下方式獲取，而每次預訂所能獲取之積分可能有所不同，IGO平台將保留積分計算及授予之最終決定權利：（a）於IGO平台成功預訂並完成參與活動後所獲得的積分回贈（b）由IGO授權之人士，以任何方式所授予之積分（c）完成參與於IGO平台所預訂之活動，並對該活動提交有效之評價後</li>
                                <li>11.1.3 您將只限透過每一個月的前十個活動評價，獲得評價積分。若一個月內，多次體驗同一活動並留下評價，則只有第一次評價，能獲得積分。</li>
                                <li>11.1.4 任何時間獲得的所有IGO積分，均於最後一次有效IGO積分合資格交易的365天後到期。「IGO積分合資格交易」包含在IGO平台上購買任何未退款的服務，以及其他可獲得IGO積分的活動，例如針對適用服務留下評價。若針對任何購買項目申請退款，IGO積分將隨之調整，並從最後一次IGO積分合資格交易起算365天內有效。所有過期的IGO積分將失效，且無法恢復。針對2022年6月30日當天或之前獲得的任何IGO積分，其365天有效期限將從2022年7月1日起計算。</li>
                                <li>11.1.5 IGO積分無法透過支付預訂費與郵寄費而賺取，且積分不可用於折抵預訂費與郵寄費。</li>
                            </ul>
                        </li>
                        <li>
                            11.2 IGO優惠碼

                            <ul>
                                <li>11.2.1 IGO優惠碼屬一次性使用的優惠碼，透過電子郵件發送給您或直接輸入到IGO帳戶中，可被用作將來於IGO平台預訂時的折扣優惠。特此說明，如果優惠碼已於IGO預訂時使用，即使用戶申請退款或其他任何情況，已使用的優惠碼將無法退還或退款。</li>
                                <li>11.2.2 IGO積分可以透過以下方式獲取：(a) 依照第11項所闡述，您可能通過邀請方案收到IGO優惠碼；或 (b) IGO自行酌情決定以不同原因授予您IGO優惠碼。</li>
                            </ul>
                        </li>
                        <li>
                            11.3 濫用折扣

                            <ul>
                                <li>11.3.1. 如於任何情況下，IGO發現IGO積分或IGO優惠碼以欺詐的手法被獲取，或以不如IGO所願，以違反此使用條款的方式獲取，IGO保留以下權利：(a) 即時終止您的IGO帳戶；或 (b) 取消所有先前所獲得IGO積分或IGO優惠碼；或(c) 拒絕為您提供服務；或(d) IGO具有單獨絕對的酌情權透過任何合理的方式處理。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>12. 邀請優惠方案</strong></p></p>
                    <ul>
                        <li>
                            12.1 方案

                            <ul>
                                <li>12.1.1 IGO可在其部分網站上，提供會員取得優惠或折扣的機會，當會員邀請其友人成為IGO平台的會員，且此等友人透過IGO授權的邀請管道發送會員資格申請（例如透過IGO的網站、Facebook或IGO支援的其他社群媒體管道），會員便取得邀請優惠。</li>
                            </ul>
                        </li>
                        <li>
                            12.2 條款

                            <ul>
                                <li>12.2.1 您只能透過IGO授權的會員邀請機制來取得此邀請優惠，而在IGO授權的管道以外所做的邀請，均不能享有任何邀請優惠。邀請優惠是無法移轉、無法拍賣、以物易物或出售，亦無法與其他會員共用。</li>
                                <li>12.2.2 當您的友人因為您的邀請，透過IGO授權的管道在IGO網站上完成第一次有效預訂，您才能獲得邀請優惠。若您的友人未遵守邀請電子郵件或其他有效邀請機制中的指示，接受此等邀請，您將無法收到邀請優惠，且對於您的友人未遵守指示，IGO對您不需負任何責任。</li>
                                <li>12.2.3 您同意持有數個IGO帳戶是違反本《使用條款》的行為，且發送邀請函至其他電子郵件信箱或帳戶，或以其他方式試圖規避IGO的邀請優惠方案系統，可能導致您喪失會員資格與您的帳戶中所有邀請優惠，且此等取消不影響IGO的其他權利或救濟方法。</li>
                                <li>12.2.4 您不得自行對我們的邀請優惠方案進行宣傳行為。您不得代表IGO從事任何宣傳、行銷或其他廣告活動，包括使用IGO的任何商標。</li>
                                <li>12.2.5 若我們懷疑被推薦人或邀請優惠是以詐欺、違反本《使用條款》、或非IGO同意的其他方式取得，IGO有權取消會員取得的被邀請人及邀請優惠。</li>
                                <li>12.2.6 在其中一位符合資格的被邀請人首次透過IGO平台完成活動後，IGO將於24小時內發送邀請優惠至您的帳戶。</li>
                                <li>12.2.7 根據每位用戶的使用行為，IGO保留修改IGO邀請好友計劃優惠內容的權利。</li>
                                <li>12.2.8 在不違反法律的情況下，邀請優惠方案是有效的。IGO有權隨時修正或終止邀請優惠方案。若累積及／或使用邀請優惠會產生任何稅賦責任，參與者必須自行履行此等責任。您了解到，您的帳戶可能無法正確顯示實際已取得的邀請優惠，IGO對於您帳戶中出現的任何錯誤不需負任何責任。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>13. 隱私保護政策</strong></p></p>
                    <ul>
                        <li>
                            13.1 隱私保護政策

                            <ul>
                                <li>13.1.1 關於IGO使用您個人資料的相關政策，請閱讀本公司現行有效的《隱私保護政策》，此等政策已納入本《使用條款》。當您接受本《使用條款》，即表示您同意《隱私保護政策》，且同意受此等政策所約束。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>14. 保障</strong></p></p>
                    <ul>
                        <li>
                            14.1 IGO保障條款

                            <ul>
                                <li>14.1.1 對於您因您本人或使用您的IGO使用者身份的任何第三方存取IGO平台或使用IGO平台、違反本《使用條款》、侵犯智慧財產權或任何人、團體之權利，而造成任何第三方提出的主張或要求，您應保障IGO、IGO的控股公司、子公司、關係企業、高階主管、董事及員工不受任何損害（包括但不限於所有損失、責任、和解、成本及律師費），如有損害，應給予賠償。</li>
                                <li>
                                    14.2 IGO介入
                                    如需要，本公司得參與對任何主張或法律行動的辯護，及任何和解協商過程。未獲得本公司事前書面許可，您不得做出任何可能不利於本公司權利或義務的和解。本公司有權自行出資，單獨對任何主張或法律行動採取辯護和控制。
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>15. 免責聲明與責任限制</strong></p></p>
                    <ul>
                        <li>
                            15.1 關係

                            <ul>
                                <li>15.1.1 關於存取和使用IGO平台及內容，IGO與您無特殊關係，且對您無受託人責任。您在此承認IGO未控制且無責任對以下事項採取任何行動：(a) 哪些使用者可存取IGO平台；(b) 您透過IGO平台存取哪些內容；(c) 內容對您有何影響；(d) 您如何解釋或使用內容；(e) 您因為暴露於內容而可能採取的行動。</li>
                            </ul>
                        </li>
                        <li>
                            15.2 服務與說明

                            <ul>
                                <li>15.2.1 您承認且同意IGO平台服務可能由其他業者或第三方提供，且其包括建議或推薦內容可能是由其他業者或IGO平台的使用者提供。關於服務說明是否正確，或透過IGO平台提供或購買的服務之建議或推薦是否適當，IGO不提供任何聲明或保證。</li>
                            </ul>
                        </li>
                        <li>
                            15.3 責任免除

                            <ul>
                                <li>15.3.1 IGO平台、IGO的控股公司、子公司、關係企業、高階主管、董事及／或員工在任何情況下，均不需對以下情況造成的任何獲利損失或任何間接、必然、特殊、附帶或懲罰性的損害負責：(a) IGO平台；(b) 本《使用條款》；(c) 您或第三方違反本《使用條款》；(d) 使用者之間任何實際或意圖的通訊或交易，即使我們已被告知有此等損害的可能性。</li>
                                <li>15.3.2 不論損害是否由以下原因造成，前述之限制及排除規定均適用：(a) 違反合約；(b) 違反保證；(c) 嚴格責任；(d) 侵權；(e) 疏忽；或(f) 任何其他法律行動的原因，在適用法律允許的最大範圍內均有效。</li>
                                <li>15.3.3 透過IGO平台取得的所有內容、軟體、功能、以及資訊，均以其「原貌」提供。在適用法律允許的最大範圍內，本公司不會明示或暗示任何形式之聲明或保證，包括但不限於IGO平台上的內容、軟體、透過IGO平台存取的資料、資訊、功能、產品、服務或對第三方的超連結，或對於違反安全行為透過IGO平台傳輸敏感資訊，或未侵權、可操作性、適用於特定目的或正確性，本公司未保證IGO平台所包含的功能或任何資料或內容不會被中斷或無錯誤。</li>
                                <li>15.3.4 您承認且同意任何來往IGO平台的傳輸內容並非機密性，且您的通訊內容可被他人閱讀或截取。您進一步承認且同意，您與我們的通訊內容，及在IGO平台上張貼的資訊，包括旅遊行程及／或活動，除了本《使用條款》所規定者外，您與本公司之間未建立任何機密、信託、暗示的合約或其他關係。</li>
                                <li>15.3.5 您承認且同意，您不會要求本公司或設法讓本公司對任何其他業者或第三方提供的內容負責，且您進一步承認且同意，本公司非其他業者或第三方提供服務之相關交易的當事人。對於IGO平台上任何交易、旅遊行程及／或活動的安全性，以及其他業者或第三方提供的任何列表或其他內容之真實性或正確性，本公司無任何控制權，且未提供任何保證。</li>
                            </ul>
                        </li>
                        <li>
                            15.4 救濟

                            <ul>
                                <li>15.4.1 如果您對IGO平台不滿意、不同意本《使用條款》的任何部分，或者對本公司或IGO平台的其他使用者有其他與本《使用條款》或IGO平台有關的爭議或主張，您對本公司的唯一救濟方法即為停止使用IGO平台。</li>
                                <li>15.4.2 在任何情況下，且在適用法律允許的最大範圍內，本公司或IGO任何會員就IGO平台所產生的相關事宜，對您或第三方的責任僅限於下述兩種金額之較大者：(a) 在造成責任的法律行動前12個月您支付給我們的費用金額；或 (b) 對於所有主張累計最多HKD500.00。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>16. 與第三方的互動</strong></p></p>
                    <ul>
                        <li>
                            16.1 第三方網站連結

                            <ul>
                                <li>16.1.1 IGO平台可能包含某些非IGO擁有或控制的第三方網站或服務（下稱「第三方網站」）之連結，即使IGO平台上有前往第三方網站的連結，並不表示本公司贊同或推薦此等第三方網站，或此等第三方網站上可取得的資訊、產品、廣告或其他資料。</li>
                                <li>16.1.2 當您存取第三方網站時，您需自行承擔風險。您在此聲明並保證，您已閱讀與您使用服務有關的任何第三方網站的所有可適用政策，且同意受此等政策約束，除了您在本《使用條款》下的義務，您也會遵守第三方網站的所有可適用政策。</li>
                                <li>16.1.3 對於第三方網站的內容、正確性、隱私政策或實務，及第三方網站上表達的意見，IGO並無任何控制權，且不需負任何責任。此外，IGO不會，也無法監督、證實、審查或編輯任何第三方網站的內容。若您使用IGO的服務，即表示您同意免除IGO對於因您使用任何第三方網站而產生的任何及所有責任。</li>
                                <li>16.1.4 若您透過IGO的服務而與任何組織及／或個人有所互動（包括但不限於其他業者），包括產生商品或服務的付款和運送，及與此等交易有關的任何其他條款、條件、保證或聲明，均為您與此等組織及／或個人之間的關係，與本公司無涉。</li>
                                <li>16.1.5 您在與任何此等第三方從事任何線上或離線的交易之前，應進行您認為需要或適當的調查。</li>
                            </ul>
                        </li>
                        <li>
                            16.2 IGO的責任

                            <ul>
                                <li>16.2.1 您同意IGO不需為此等交易產生的任何損失或損害負責。若該網站的參與者之間或使用者與任何第三方之間發生爭議，您了解且同意IGO無義務被牽涉其中。若您與其中一個或多個其他使用者或第三方發生爭議，您在此對IGO、其控股公司、子公司、高階主管、董事、員工、代理人及權利繼承人免除因此等爭議而產生或相關的任何種類或性質之主張、要求及損害（實際及衍生）、已知或未知、疑似或意料外、已揭露或未揭露的主張、要求及損害。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>17. 付款</strong></p></p>
                    <ul>
                        <li>
                            17.1 為確保在退款、訂單取消（如適用）以及客戶服務方面提供充分的運營支援，以下IGO實體應對下列貨幣進行的交易負責：

                            <ul>
                                <li>(a) 以 SGD 付款的交易：IGO Travel Technology Pte Ltd；</li>
                                <li>(b) 以 TWD 付款的交易：IGO Travel Taiwan Limited；</li>
                                <li>(c) 以 MYR 付款的交易：IGO Technology Sdn. Bhd；</li>
                                <li>(d) 以 AUD / NZD 付款的交易：IGO Travel Technology (Australia) Pty Ltd；</li>
                                <li>(e) 以 EUR / GBP / CHF / DKK / ISK / NOK / SEK / RUB 付款的交易：IGO Travel Technology B.V.；及</li>
                                <li>(f) 以其他貨幣付款的所有交易：IGO Travel Technology Limited。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>18. 終止</strong></p></p>
                    <ul>
                        <li>
                            18.1 由IGO終止

                            <ul>
                                <li>18.1.1 只要您使用IGO平台或服務，本《使用條款》即具有完全效力。IGO得隨時基於任何理由，且無須提出任何警告，即終止或暫停您存取服務的權利或您的會員資格，與您會員資格有關的所有資訊將因此喪失或銷毀。若您違反本《使用條款》的任何條款或條件，IGO也將立即終止或暫停任何所有對您提供的服務，及您存取IGO平台的權利，且IGO無須發出任何事前通知，亦無須負任何責任。</li>
                            </ul>
                        </li>
                        <li>
                            18.2 終止效力

                            <ul>
                                <li>18.2.1 在您的帳戶被終止時，您使用服務、存取IGO平台及任何內容的權利將立即停止，但本《使用條款》中的任何規定如根據其性質，即使您的帳戶被終止後應持續生效，應於終止後存續，包括但不限於所有權規定、免保證聲明及責任限制。</li>
                                <li>18.2.2 如本《使用條款》因您違反規定而終止，IGO有權取消您於終止前已購買且尚未使用的憑證，而無需對您退款或負任何責任。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>19. 護照、簽證、文件、駕照與保險</strong></p></p>
                    <ul>
                        <li>
                            19.1 您的責任

                            <ul>
                                <li>19.1.1 不論國籍和目的地為何，所有旅客應自行向其將造訪的國家之領事館詢問現行有效的入境規定。</li>
                                <li>19.1.2 由於簽證及健檢的規定可能臨時變更，且無任何通知，我們建議您於旅遊前，向適當的領事館詢問健檢與簽證的相關規定。</li>
                                <li>19.1.3 您同意部分供應商可能要求您遵守當地政策，並提供必要文件及／或駕照，以作為參加及／或使用服務的條件。</li>
                                <li>19.1.4 我們強烈建議您於出發旅遊前購買綜合旅遊保險。</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>20. 準據法</strong></p></p>
                    <ul>
                        <li>20.1 本《使用條款》應由台灣的法律來規範，您同意接受台灣法院的非專屬管轄權。</li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>21. 其他規定</strong></p></p>
                    <ul>
                        <li>
                            21.1 可分割性

                            <ul>
                                <li>21.1.1 如本《使用條款》的任何規定被認為無法施行或無效，該規定應在必要的最低程度內受限制或刪除，使本《使用條款》仍具有完全之效力且可施行。</li>
                            </ul>
                        </li>
                        <li>
                            21.2 轉讓

                            <ul>
                                <li>21.2.1 除非獲得IGO的事前書面同意，否則您不得轉讓、移轉或轉授權本《使用條款》，但IGO得移轉、轉讓或委託本《使用條款》及其權利與義務，且無需獲得您的同意。</li>
                            </ul>
                        </li>
                        <li>21.3 本《使用條款》的條款及細則皆以英文編寫而成，任何其他語言的翻譯版本僅供參考。如任何翻譯版本與英文原文相異，一切皆以英文版本為準。</li>
                        <li>21.4 IGO Travel Technology Limited是依台灣法律合法成立的有限責任公司</li>
                    </ul>
                    <p>
                </li>
                <li>
                    <p><strong>22. 聯絡</strong></p></p>
                    <p>
                        <ul>
                            <li>22.1 如欲回報任何違反本《使用條款》之情況，或提出有關本《使用條款》或服務的疑問，請透過電子郵件（support@IGO.com）聯絡我們。</li>
                        </ul>
                    </p>
                    <p>
                </li>
            </ul>
            2022年3月1日最近一次更新</p>
        </div>

        


    <div class="col-md-2"> </div>

    </div  >












        @*<div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>*@




        @*Bottom*@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                    <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Bottom*@
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>





