
@{
    ViewData["Title"] = "LowPrice";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>


    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/Privacy.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">隱私權相關政策</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">首頁</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page">IGO 最優價格保證</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>




    <div id="full-1">
        <div class="col-md-2"> </div>


        <div class="col-md-8" style="margin:auto;">


            <h6 align="center" style="color:orange;font-style:oblique;font-family:'Yu Gothic'">
                旅行是真正的知識最偉大的發源地
            </h6>
            <br />

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/Privacy/index">服務條款</a>
                </li>
                @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </li>*@
                <li class="nav-item">
                    <a class="nav-link" href="/Privacy/Privacy2">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Privacy/LowPrice">最優價格保證</a>
                </li>
            </ul>
            <br />
            <div style="font-size:small">

                @*最低價*@


            </div>

            <div style="font-size:small">
             

                <div class="price j_price f_hidden">
                    <h1 style="color:orange" id="IGO">IGO最優價格保證</h1>
                    <p>若您發現更低的價格，我們承諾<strong>提供兩倍差價退費！</strong></p>
                    <p>旅遊時，誰都渴望獲得公平的待遇，不想經歷被濫收費用的狀況。為此，我們時刻更新平台上活動的價格，務求做到相比線上、線下，或是當地店面，全通路最優惠的價格。同時，我們致力於誠實價格呈現，所有與活動相關的費用或稅項都會一一羅列，讓您無須為隱藏收費而擔憂。</p>
                    <ul>
                        <li>
                            <strong>
                                我們對最優價格的信念相當認真並有信心，因此，若您：

                                <ul>
                                    <li>• 找到相同的活動或導賞團正提供更低的價格（相同貨幣匯價）並於預訂後48小時內通知我們；或</li>
                                    <li>• 抵達目的地後發現您已預訂的活動或導賞團當地價格比您所支付的更低
                            </strong>
                        </li>
                    </ul></li>
                    </ul>
                    <p>您可以將詳情電郵給我們，我們會退回相等差價兩倍的IGO積分；或退回差價的全數到您的信用卡。 是的，我們確定要這樣做！</p>
                    <ul>
                        <li>
                            <p><strong>如何提出退款要求?</strong></p>
                            <ul>
                                <li>相當簡單：首先，保留能夠顯示更低價格的證明（發票/ 價目表/ 宣傳單/ 網站連結/ 網上截圖等等），電郵至 support@IGO.com 並提供 1. 您的用戶姓名 及 2. 訂單編號，我們會應要求退回相等差價兩倍的IGO積分；或退回差價的全數到您的信用卡。</li>
                            </ul>
                        </li>
                        <li>
                            <p><strong>條款及細則：</strong></p>
                            <p>
                                <ul>
                                    <li>•&nbsp;關於「相同的活動或導賞團」，意指活動或導賞團所包含的項目及行程跟IGO平台上所列明的是一致的，包括：貨幣匯價、成團人數、行程日期及時間、供應商、接載起點、 票券使用方式（列印或電子憑證）、票券期限（有效期間或指定日子）、已預訂方案、票券種類、即時出票或非即時出票，等等。而該項由其他供應商提供的產品，所含內容必須跟IGO提供的一致。</li>
                                    <li>•&nbsp;該項產品必須是由合法管道取得並從已註冊的旅遊業務供應商提供。</li>
                                    <li>•&nbsp;此價格保證並不適用於任何城市或機場接送服務。</li>
                                    <li>•&nbsp;此價格保證並不適用於跨日行程導賞團（行程或活動安排多於一日）。</li>
                                    <li>•&nbsp;基於個別供應商條款限制，IGO的最優價格保證，只適用於產品頁面上有明確顯示此標誌的活動。</li>
                                    <li>•&nbsp;IGO最優價格保證只應用於公開予公眾的零售項目。不適用於任何從第三方獲得的折扣或因會員制度、公司折扣、團體推廣及特別推廣而獲取的優惠。</li>
                                    <li>•&nbsp;若於出發目的地前找到相同的活動或導賞團正提供更低的價格（相同貨幣匯價），必須於預訂後48小時內通知我們，或提供清晰顯示該更低價格發生於預訂後48小時內的日期證明以作核實</li>
                                    <li>•&nbsp;IGO保留隨時於網上公告變更、修改或終止本活動之權利。</li>
                                    <li>•&nbsp;差價退款交易只限退款到預訂活動時所使用的該張信用卡</li>
                                    <li>•&nbsp;若預訂時使用了IGO積分或推廣優惠碼，兩倍差價退費金額將依據IGO網站上顯示的價格，而非已折扣的價格計算</li>
                                </ul>
                            <p></p>
                        </li>
                    </ul></p>
                </div>

                <div class="bugbounty j_bugbounty f_hidden">
                    <h1 style="color:orange" id="">技術問題懸賞方案</h1>
                    <p>客遊天下旅行社有限公司 (「IGO」) 為表揚並獎勵各界之獨立安全調查員，協助確保 IGO 運作順暢及本公司顧客安全，特訂立本方案。本公司感謝您願意參與技術問題懸賞方案 (「方案」)，並將依據您所揭露之各項安全弱點，核撥金錢獎勵。</p>
                    <p>您係自願參與本公司的技術問題懸賞方案。一旦由您向 IGO 提出報告並揭露技術問題，即視同您理解並同意自身業已詳閱並且接受本頁面之各項條款與細則 (「條款」)。</p>
                    <h1 style="color:orange" id="-1">盡責揭露政策</h1>
                    <p>參與本公司方案期間，您謹保證：</p>
                    <ul>
                        <li>您必須秉持誠信善意，妥善保護 IGO 及本公司用戶的隱私與資料。您絕不在未經本公司事前提供書面同意之情況下，擅自存取或修改其他用戶資料與數據。</li>
                        <li>您必須確保於相關檢測歷程裡，全程秉持誠信善意，絕不造成生產系統之任何干擾或中斷、使用者體驗之任何折損或惡化，乃至於資料數據之任何毀損或遺失。</li>
                        <li>若您在調查問題期間，不慎造成任何意外之隱私權侵害或非惡意破壞 (諸如擅自存取帳號資料、服務組態設定，或其他機密資訊)，請立即告知我們。</li>
                        <li>無論理由為何，您均必須避免針對自身發現之安全問題，執行任何技術性運用及／或擅自進行後續檢測 (包括示範額外風險等目的)。</li>
                        <li>您不得違反任何其他之適用法律或規定，包括但不限於新加坡、香港與歐盟的各項法令規章。</li>
                    </ul>
                    <p>若您確以如實遵守本條款之方式與原則，向 IGO 回報安全問題，則 IGO 承諾概不針對您所報告之任何內容提出訴訟或啟動執法調查。</p>
                    <h1 style="color:orange" id="-2">方案範圍</h1>
                    <p>原則上，由 IGO 持有之任何網路服務、行動應用程式，一旦涉及資料 (包括個人資料)，均屬本方案意圖改良範圍。這包括但不限於下列網址：</p>
                    <ul>
                        <li>www.IGO.com</li>
                        <li>Affiliate.IGO.com</li>
                        <li>Merchant.IGO.com</li>
                        <li>Admin.IGO.com</li>
                        <li>IGO.klktech.com</li>
                        <li>Appapi.IGO.com</li>
                        <li>IGO 客路 iOS 版行動應用程式</li>
                        <li>IGO 客路安卓版行動應用程式</li>
                    </ul>
                    <h1 style="color:orange" id="-3">資格規定</h1>
                    <p>如欲參與本公司方案，則您不得具備下列身分或條件：</p>
                    <ul>
                        <li>居住於美利堅合眾國出口制裁對象或其他貿易禁令國家或地區之境內，或從該國家或地區境內提交報告；</li>
                        <li>在您從事 IGO 技術問題偵測與舉報活動之餘，連帶違反或觸犯任何國家、州縣或當地政府之法律或規則 (無論直接或非直接)；</li>
                        <li>受雇於任何的 IGO 或其關係企業；</li>
                        <li>與 IGO 或其關係企業的任何受雇人員具備直接之血親或姻親關係；或</li>
                        <li>未滿 18 歲。</li>
                    </ul>
                    <p>您所提供之報告須以清楚明確之文字撰寫，同時符合下列條件，始有資格申領獎勵：</p>
                    <ul>
                        <li>必須是率先將某項弱點或缺陷回報至 security@IGO.com 之第一人</li>
                        <li>附上所發現項目之書面詳細說明 (例如弱點或缺陷的名稱、技術問題類型等)</li>
                        <li>完整列出相關的技術資訊，例如完整 URL、cookie 相關資訊、POST/GET 參數等</li>
                        <li>重現相關弱點或缺陷所需履行的各步驟列表</li>
                        <li>一併檢附各種所需附件，諸如螢幕截圖或概念碼等。</li>
                        <li>弱點或缺陷僅能以直接、獨家方式回報予本公司，嚴禁外洩或擅自分享。</li>
                    </ul>
                    <p>一般檢測規定：</p>
                    <ul>
                        <li>嚴禁刻意建立、申請多重或大量帳號，藉此針對 IGO 各項應用程式與服務展開安全檢測。</li>
                        <li>禁止採行任何形態之強行檢測與字典式攻擊，藉此確認特定網站、API 或其他功能是否具備回應速率設限。</li>
                        <li>任何互動或操作，均以您自身帳號或業經其他使用者明確容許之帳號為限。</li>
                        <li>若有任何帳號在檢測期間遭到阻斷或封鎖，則可由您提交解禁申請，並由 IGO 安全團隊調查您的申請，再將後續行動與處置通知您。</li>
                    </ul>
                    <h1 style="color:orange" id="-4">檢測結果的所有權</h1>
                    <p>於本條款內，所謂「檢測結果」係指由您發現後呈報予 IGO 的弱點或缺陷相關資訊。您謹同意將檢測結果之全部內容與一切對應權利 (包括智慧財產權) 全盤告知並移交予 IGO。</p>
                    <h1 style="color:orange" id="-5">範圍外項目</h1>
                    <p>弱點或缺陷之通報是否成立，必須同時考量攻擊情境、問題可供濫用程度，以及技術問題的安全衝擊。下列狀況概不列入本方案受理範圍，本公司亦不針對下列形態之攻擊提供懸賞：</p>
                    <ul>
                        <li>服務阻斷式攻擊</li>
                        <li>濫發垃圾、社交工程或郵件釣魚技術 (例如網路釣魚、語音釣魚、簡訊釣魚)</li>
                        <li>電子郵件詐騙</li>
                        <li>任何客戶端 (如瀏覽器、插件) 的安全性弱點或缺陷</li>
                        <li>軟體版本揭露</li>
                        <li>反射型檔案下載</li>
                        <li>任何實體存取問題</li>
                        <li>可公開存取頁面</li>
                        <li>任何不會造成直接弱點或缺陷的漏洞、故障或資訊揭露</li>
                        <li>郵件或帳號列舉</li>
                        <li>逗號分隔值的命令執行與 CSP 漏洞</li>
                        <li>任何存在於第三方軟體或網站的弱點或缺陷，一般而言概不列入本方案適用範圍。</li>
                    </ul>
                    <h1 style="color:orange" id="-6">獎勵給付</h1>
                    <p>您的受獎資格係取決於：</p>
                    <ul>
                        <li>所回報之弱點或缺陷可供確認，且已獲得 IGO 判定為確實存在的安全隱憂；以及</li>
                        <li>您已確實遵守前述所有條款。</li>
                    </ul>
                    <p>獎勵給付之判定，由 IGO 全權裁量之。由 IGO 裁定之任何受獎資格與獎勵給付金額，均屬終局判定，IGO 概不受理任何申訴，且無必須付款之義務。</p>
                    <p>IGO 依據多重因素決定獎勵金額，包括但不限於安全問題遭濫用之衝擊程度與風險嚴重度。遇有相同報告時，IGO 僅獎勵第一位通報者。</p>
                    <table>
                        <thead>
                            <tr>
                                <th><strong>嚴重程度</strong></th>
                                <th><strong>第 3 版 CVVS 得分</strong></th>
                                <th><strong>獎金範圍 (美元)</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>嚴重</td>
                                <td>9.0 - 10</td>
                                <td>1000 或更高</td>
                            </tr>
                            <tr>
                                <td>高度</td>
                                <td>7.0 - 8.9</td>
                                <td>600 – 900</td>
                            </tr>
                            <tr>
                                <td>中度</td>
                                <td>4.0 - 6.9</td>
                                <td>250 – 500</td>
                            </tr>
                            <tr>
                                <td>低度</td>
                                <td>0.1 – 3.9</td>
                                <td>100 – 200</td>
                            </tr>
                        </tbody>
                    </table>
                    <h1 style="color:orange" id="-7">終止</h1>
                    <p>若經 IGO 確認：</p>
                    <ul>
                        <li>您曾違反任何條款；或</li>
                        <li>一旦接受您參與本方案，則 IGO 可能蒙受負面影響 (包括但不限於任何對於 IGO 系統、安全、財務或商譽的威脅)，</li>
                    </ul>
                    <p>則 IGO 有權直接中止您的參與，並且取消您受領任何獎勵款項之資格，敬請諒察。</p>
                    <h1 style="color:orange" id="-8">保密</h1>
                    <p>您於方案進行期間所接收或搜集之任何 IGO 相關、我方關係企業相關、本公司使用者相關資訊，乃至於資訊之呈交與回報 (合稱「機密資訊」) 均須徹底保密。未經 IGO 事前提供書面核准，禁止您揭露或散佈任何機密資訊。</p>
                    <p>機密資訊之運用亦須以本方案相關用途為限。</p>
                    <h1 style="color:orange" id="-9">免責擔保</h1>
                    <p>您謹同意，自身回報內容、違反條款行徑及／或不當運用技術問題懸賞方案措施，一旦招致任何第三方主張賠償或各種請求，則須由您擔保 IGO、關係企業及任何主管、董事、代理人、合資事業、員工暨供應商等一概得以免責且不致蒙受任何損害。</p>
                    <h1 style="color:orange" id="-10">條款變更</h1>
                    <p>IGO 保留相關權利，得於任何時機採取無須事前通知之方式，逕行修改或取消本項技術問題懸賞方案及相關政策。</p>
                    <p>據此，IGO 得於任何時機，透過 IGO 網站發佈修訂條款與新版政策，藉此完成條款及／或政策之正式增修。增修完成後若您仍繼續參與技術問題懸賞方案，則視同您已接受各項增修異動之條款內容。</p>
                    <p>本條款的其他語言版本僅供參考，如其他語言版本與英文版本相異，一切皆以中文版本為準。</p>
                </div>
            </div>
        </div>
    </div>










    <div class="col-md-2"> </div>

    </div>












    @*<div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>*@




    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>








