@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>


    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/Privacy.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">隱私權相關政策</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">首頁</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page">IGO 隱私權政策</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>




    <div id="full-1">
        <div class="col-md-2"> </div>


        <div class="col-md-8" style="margin:auto;">


            <h6 align="center" style="color:orange;font-style:oblique;font-family:'Yu Gothic'">
                旅行是真正的知識最偉大的發源地
            </h6>
            <br />

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/Privacy/index">服務條款</a>
                </li>
                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link active" href="/Privacy/Privacy2">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Privacy/LowPrice">最優價格保證</a>
                </li>
            </ul>
            <br />
            <div style="font-size:small">


                @*隱私政策*@
                <div class="policy j_policy f_hidden">
                    <h1 id="" style="color:orange">隱私政策</h1>
                    <p>IGO Travel Technology Limited（「IGO」、「我們」、「我們」、「我們的」）尊重及致力保障你的個人私隱資料，並遵守適用法律下的私隱資料保障原則及規條。 </p>
                    <p>當你使用本網站www.IGO.com 及／或IGO App（合稱為 「IGO平台」）以及IGO或第三方營運商透過IGO平台（「營運商」）提供的服務（「服務」）時，我們可能按本隱私政策蒐集、處理、使用和揭露你的資料。本隱私政策中使用的「你」及「你的」包括瀏覽IGO平台或使用服務的任何人士。</p>
                    <p>本隱私政策規定了IGO蒐集、處理、使用和/或揭露你在瀏覽IGO平台和/或使用服務時獲取的資料的依據和條款。這些資料可能包括連結至或與特定個人相關的個人資料，如姓名、住址、電話號碼、電子信箱、旅行證件資料、租車資訊、保險資訊、年齡、出生日期等或任何你按要求透過IGO平台提供的資料（「個人資料」）。 </p>
                    <p><strong>請仔細閱讀本隱私政策。</strong>造訪IGO平台，即表示你同意本隱私政策的個人資料的蒐集、處理、使用和揭露。</p>
                    <ul>
                        <li><p><strong>條款範圍</strong> </p></li>
                        <li><p>IGO有權更新、修訂或修正本《隱私保護政策》的條款或任何部分，且無須發出事前通知，若你繼續存取IGO平台或使用服務，即表示你接受更新、修訂或修正的《隱私保護政策》。若你不同意本《隱私保護政策》的所有條款與條件，及/或日後更新、修訂或修正的內容，你必須停止存取或以其他方式使用IGO平台及服務。 </p></li>
                        <li><p>因此，若你希望存取和檢視現行版本的《隱私保護政策》，請繼續閱讀此網頁。 </p></li>
                        <li><p><strong>資訊蒐集</strong> </p></li>
                        <li><p>當你使用IGO平台時，我們可能蒐集你提供給我們的你個人相關資料，以及你如何使用IGO平台的資訊，包括你何時開設使用者帳戶（下稱「使用者帳戶」）、造訪IGO平台、預約、租賃及／或預訂任何想要的服務、或使用服務。 </p></li>
                    </ul>
                    <p>用戶是按自願性質向IGO提供個人資料的。但是，如果你選擇不向我們提供你的個人資料，我們可能無法為你提供某些服務。例如，如果我們不蒐集你的姓名和聯絡資料，我們將無法開通你的用戶帳戶或為你完成預訂。</p>
                    <ul>
                        <li><p>1） 開設你的使用者帳戶 </p></li>
                        <li><p>當你在IGO平台開設一個使用者帳戶，或修訂你使用者帳戶的任何資訊，我們都可能蒐集你的個人資料，例如你的姓名、電子郵件地址、使用者名稱、密碼及電話號碼。 </p></li>
                        <li>
                            <p>
                                2） 造訪IGO平台進行預約、租賃及／或預訂任何服務或使用服務
                                當你造訪IGO平台（即使你尚未註冊用戶帳戶或登錄），並預約或租賃任何想要的服務或使用服務時，我們可能蒐集和處理某些資訊（可能包含你的個人資料，或可能包含非個人識別資料但會連結到你的個人資料），包括但不限於以下：
                            </p>
                        </li>
                        <li><p>（a） 你與我們之間以及你與其他營運商之間的通訊內容（不論是透過電子郵件、即時通訊、私人通訊或其他方式）； </p></li>
                        <li><p>（b） 完成預約、租賃及／或與我們及營運商的訂單所需的必要資料（包括但不限於旅行證件、租車資訊、保險資訊、年齡、出生日期等）</p></li>
                        <li><p>（c） 你使用IGO平台的細節（包括流量資料、位址資料及使用者使用的時間長短）； </p></li>
                        <li><p>（d） 對於IGO進行的服務相關調查以及IGO刊行、流通和散佈的通訊，你給予的意見和回覆； </p></li>
                        <li><p>（e）本公司的伺服器或本公司的第三方服務提供者的伺服器在你使用或存取IGO平台時自動蒐集和儲存的資訊（包括使用者帳戶的登入名稱及密碼、你電腦的網際網路協定（IP）位址、瀏覽器類型、瀏覽器資訊、裝置資料（包括裝置的獨特標識符）、造訪的頁面、之前或之後造訪的網站）。 </p></li>
                        <li><p>3）當你使用流動裝置瀏覽IGO平台時，我們可能會如上所述蒐集有關你和你的流動裝置的資料。如果你同意並設置了流動裝置向我們發送這些資料或把包含位置資料的照片上傳到IGO平台，我們蒐集的資料則可以包括你的位置資料。這些位置資料將按本隱私政策中所述的方式和目的使用。例如，我們可能會在你旅行期間使用你的位置建議附近的服務或為你提供個性化內容。你可以隨時更改流動裝置的隱私設置，以停用分享位置資料的功能。但請注意，如果你關閉這些位置共享功能，IGO平台的某些功能可能會受到影響。如果你對流動裝置的隱私設置有任何疑問，我們建議你與電訊服務提供商或流動 裝置製造商聯繫。 </p></li>
                    </ul>
                    <p>*如果你透過IGO平台為其他人預約、租賃及／或預訂產品或服務，我們可能會要求你提供有關該人的個人資料。在向IGO提供此人的個人資料前，你必須事先取得此人的同意，並確保他們了解，明白並接受本隱私政策。</p>
                    <ul>
                        <li><strong>資訊儲存</strong> </li>
                        <li>
                            我們從你收集的個人資料及其他資料可能會被移轉到本公司的伺服器或本公司的第三方服務提供者的伺服器，並由本公司的伺服器或本公司的第三方服務提供者的伺服器處理和儲存。
                            我們將為符合本《隱私保護政策》中描述的任何目的；或任何（i）為提供服務所需的合同要求，以及（ii）法律，稅務或會計要求而言必需的時限內，保留你的個人資料。
                        </li>
                    </ul>
                    <p>
                        *當我們不再需要處理你的個人資料時，我們將刪除或把資料匿名化處理。如我們無法刪除或匿名化你的資料（例如因為你的個人資料已存儲在備份檔案中），我們將安全地存儲你的個人資料。
                        *如果我們打算把資料作任何分析用途或趨勢分析，我們將盡力把你的資料匿名化或並集有關資料。
                    </p>
                    <ul>
                        <li><p>IGO將盡合理的努力，維持適當的實體、電子和組織程序，以確保你的個人資料及其他資料受到安全的處理，且符合本《隱私保護政策》，本公司也會防止此等資料不受到未經授權的存取，或未經授權的更改、揭露或破壞。 </p></li>
                        <li><p>我們收到你的資料後，會使用嚴格的程序及安全功能，努力防止他人未經授權的存取。但IGO未聲明、保證或承諾你提供給我們的個人資料隨時都會是安全的，且如果IGO已履行其義務，對於你因為你個人資料受到未經授權的存取或使用而遭受或產生的任何損失、損害、成本及費用，IGO在任何情況下均不須負任何責任。 </p></li>
                        <li><p>我們或我們選擇的第三方付費處理服務提供者執行的所有付費交易，都會使用線上加密技術來加密。你必須負責對你選擇的密碼保密，不將你的密碼告知任何第三方。 </p></li>
                        <li>
                            <p>
                                <strong>資訊使用</strong>
                                *為履行合同並為你提供服務，我們會處理必需蒐集的個人資料。此外，我們亦會按我們的合法權益蒐集你的其他個人資料作提升服務和直接營銷之用。
                                *例如：當你使用IGO平台或購買服務時，IGO會蒐集你的資料及其他資料，並使用這些資料來開通你的使用者帳戶、完成預約或租賃及／或預訂、持續改進IGO平台和服務，並為服務相關事宜與你聯絡。
                            </p>
                        </li>
                        <li><p>我們使用你的個人資料或其他資料，目的是要達到更快速的購買請求、提供更妥善的顧客支援服務，並即時通知新服務及特別方案。 </p></li>
                        <li><p>我們也可能不定時使用你的個人資料來聯絡你，邀請你提供你使用IGO平台後的意見，以協助我們改進IGO平台，或者如果你曾表示你同意收到特別優惠方案或促銷訊息，我們也可能對你提供此等訊息。如果你不希望收到特別優惠方案或促銷的通知，你可透過這些通知上的超鏈結回覆我們，告知我們你不想再收到這些通知。 </p></li>
                        <li><p><strong>資訊揭露</strong> </p></li>
                        <li><p>我們可能不定時將你的個人資料及其他資訊分享和揭露給第三方，其中某些第三方可能位在你的國家以外的地方。我們會進行此等分享和揭露的情況包括以下所述者，但不限於以下情況： </p></li>
                        <li><p>1） 為了成功完成你的預約、租賃及／或預訂，或以其他方式實行我們的《使用條款》, 我們可能會與營運商、提供商品和服務或代表我們行事的國內外第三方營運商（包括但不限於行程營運商、活動供應商、餐廳、店家、交通公司、鐵路公司、遊船公司、遊樂園、電信業者、飯店、租車公司、保險公司等）共享您的資訊。 </p></li>
                        <li><p>2） 如果你是網站的訪客，我們可能分享給你預約、租賃及／或預訂服務的相關業者； </p></li>
                        <li><p>3） 如果你是其他業者，我們可能分享給與你提供的服務有關的訪客； </p></li>
                        <li><p>4） 分享給我們聘僱來代表我們執行某些服務的第三方服務提供者（包括Google Analytics） ，例如網路主機管理、資料分析、行銷、市場研究，以及為你提供的其他顧客服務； </p></li>
                        <li><p>5） 任何可適用的法律、法院命令或政府機關要求揭露資料； </p></li>
                        <li><p>6） 在企業交易的情況，如果本公司進行出售、合併、被收購或其他企業重整或重組，你的個人資料可能被揭露、分享或移轉給具有控制權的法律實體，或其授權來執行本公司業務的第三方； </p></li>
                        <li><p>7） 為了保護客路的權利和財產，提供給我們的顧問、代理人或其他相關人士； </p></li>
                        <li><p>8） 在任何其他情況，提供給你事前以書面同意的任何第三方。 </p></li>
                    </ul>
                    <p>
                        *我們亦可能與相關第三方（包括我們的廣告商）共享並集或匿名資料。這些資料不包含任何個人資料，亦不能識別你的個人身份。但是在某些情況下，這些第三方可能已擁有有關你的資料或從其他來源取得你的資料。當他們將這些資料與我們的並集資料結合起來時，他們可能能夠識別你的個人身份。
                        *為了上述目的，你的個人資料可能會在你的國家以外和歐盟以外轉移。如果轉移發生在沒有提供足夠保障程度的國家，IGO將採取合理措施確保已提供適當的保障。此類保障措施包括但不限於（i）歐盟委員會的標準合同條款; （ii）歐盟-美國和瑞士-美國的隱私盾;和/或（iii）任何其他適當的跨境轉移機制。
                    </p>
                    <ul>
                        <li>IGO平台可能出現一些鏈結，這些鏈結可能造成你離開IGO平台，及/或被帶往其他第三方網站。你應注意，你提供給這些第三方網站的任何個人資料並不受本《隱私保護政策》所規範，因此對於你因提供或讓此等第三方網站可取得個人資料或其他資料而遭受或發生的任何損失、損害、成本或費用，IGO不負任何責任。 </li>
                    </ul>
                    <p><strong>Cookies</strong> </p>
                    <ul>
                        <li><p>Cookies在本網站廣泛使用以使網站運行或更有效地運行。當你瀏覽我們的網站時，我們會收集你的瀏覽器通過cookies傳輸給我們的一些個人資料，讓你可以瀏覽IGO平台並幫助我們為你創建更好的用戶體驗。你可以在我們的[Cookies政策]（https://www.IGO.com/zh-HK/cookiepolicy/）中找到有關我們使用的cookies和類似技術的更多詳細資料。</p></li>
                        <li><p><strong>你的權利</strong> </p></li>
                        <li><p>你可以隨時在“IGO平台”通過“我的帳戶”查閱、更正或刪除你的個人資料。或者，您可以通過電子郵件privacy@IGO.com發送資料查閱，更正或刪除的要求。</p></li>
                    </ul>
                    <p>*如果適用的法律強制要求，你也可以通過電子郵件向privacy@IGO.com發送要求或反對，要求限制處理你的個人資料或反對處理有關資料。你也可以通過電子郵件向privacy@IGO.com發送要求，索取我們所持有有關你的資料的副本。 </p>
                    <p>*如果你對個人資料的處理有任何投訴，請通過以下的聯繫方式與我們聯繫。</p>
                    <p>在根據要求處理或更改個人資料時，我們有權查核要求提出者之身份，以核實他/她是確實有權作出處理或更改個人資料的本人。 </p>
                    <ul>
                        <li><p><strong>歐盟通用資料保護規例</strong> </p></li>
                        <li><p>為了歐洲通用資料保護條例的目的，IGO Travel Technology Limited已指定IGO Travel Technology BV（Netherlands）為其在歐盟的代表。 如果你在歐盟範圍內，你有權向適當的資料保障機構提出投訴。</p></li>
                        <li><p><strong>了解更多</strong> </p></li>
                        <li><p>如你對於私隱政策有任何疑問，請透過privacy@IGO.com與我們聯繫。 </p></li>
                    </ul>
                    <p>
                        最近更新：
                        2020年3月20日
                    </p>
                </div>




            </div>




            <div class="col-md-2"> </div>

        </div>












        @*<div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>*@




        @*Bottom*@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                    <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Bottom*@
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>






