@model prjIGObackend.Models.CSupplier

@{
    ViewData["Title"] = "Create";
}

<h1>新增供應商</h1>

<h4>供應商</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="SupplierID" class="control-label"></label>
                <input asp-for="SupplierID" class="form-control" />
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label">公司名稱</label>
                <input asp-for="CompanyName" class="form-control" style="background-color:white" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">電話</label>
                <input asp-for="Phone" class="form-control" style="background-color:white"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">地址</label>
                <input asp-for="Address" class="form-control" style="background-color:white" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">回到供應商列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
