
@{
    ViewData["Title"] = "City";
}

<!-- Page Header Start -->
    <!--<div class="container-fluid page-header mb-5 p-0">
        <div class="carousel-inner">
            <img src="~/img/City.jpg" alt="台北市" title="台北市" />
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-evenly">
                <div class="p-3" style="max-width: 100%;">
                    <h1 class="display-3 text-white mb-3">台北市</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item text-primary">美食</li>
                            <li class="breadcrumb-item text-primary">景點</li>
                            <li class="breadcrumb-item text-primary">飯店</li>
                            <li class="breadcrumb-item text-primary">電影</li>
                            <li class="breadcrumb-item text-primary">展覽</li>
                        </ol>
                    </nav>
                    <!--<h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">最新消息</h6>
                <h1 class="display-3 text-white mb-4 animated slideInDown">普立茲新聞攝影獎80週年展</h1>
                <a href="" class="animated slideInLeft">-->
                    <!--@*Our Rooms*@-->
                    <!--<!--</a>
                <a href="待放" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInRight">馬上訂票</a>-->
                <!--</div>
            </div>-->
            @*<h1 class="display-3 text-white mb-3 animated slideInDown">台北市</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item text-primary">美食</li>
                    <li class="breadcrumb-item text-primary">景點</li>
                    <li class="breadcrumb-item text-primary">飯店</li>
                    <li class="breadcrumb-item text-primary">電影</li>
                    <li class="breadcrumb-item text-primary">展覽</li>
                </ol>
            </nav>*@
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/City.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">台北市</h1>
        </div>
    </div>
</div>
        <!-- Page Header End -->
        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">最佳人氣</h6>
                    <h1 class="mb-5">探索 <span class="text-primary text-uppercase">台北人氣TOP 4</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_HotSales_01.jpg" alt="">
                                <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <small class="bg-primary text-white rounded py-1 px-3 ms-4">$300/預售票</small>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">大昆蟲展-我要當昆蟲王</h5>
                                <p></p>
                                <div class="d-flex justify-content-lg-center">
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <p>| 賣出數量:15</p>
                                </div>
                                <a class="btn btn-dark rounded py-2 px-4 align-items-center">詳細資訊</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_HotSales_02.jpg" alt="">
                                <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <small class="bg-primary text-white rounded py-1 px-3 ms-4">$1211/下午茶</small>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">台北喜來登大飯店｜十二廚</h5>
                                <p></p>
                                <div class="d-flex justify-content-lg-center">
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <p>| 賣出數量:13</p>
                                </div>
                                <a class="btn btn-dark rounded py-2 px-4 align-items-center">詳細資訊</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_HotSales_03.jpg" alt="">
                                <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <small class="bg-primary text-white rounded py-1 px-3 ms-4">$380/全票</small>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Gaki Hip-IG美術館</h5>
                                <p></p>
                                <div class="d-flex justify-content-lg-center">
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <p>| 賣出數量:15</p>
                                </div>
                                <a class="btn btn-dark rounded py-2 px-4 align-items-center">詳細資訊</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="rounded shadow overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_HotSales_04.jpg" alt="">
                                <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                    <small class="bg-primary text-white rounded py-1 px-3 ms-4">$360/全票</small>
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">我不是胖虎週年展</h5>
                                <p></p>
                                <div class="d-flex justify-content-lg-center">
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <i class="fa fa-star text-primary"></i>
                                    <p>| 賣出數量:6</p>
                                </div>
                                <a class="btn btn-dark rounded py-2 px-4 align-items-end">詳細資訊</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        <!-- Room Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">本月專區</h6>
                    <h1 class="mb-5">探索 <span class="text-primary text-uppercase">台北本月推薦</span></h1>
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>IGO推薦</option>
                        <option value="1">依價格排序(從低到高)</option>
                        <option value="2">依價格排序(從高到低)</option>
                        <option value="3">評價最高</option>
                    </select>
                </div>
                @*<div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            IGO推薦
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">依價格排序(從低到高)</a></li>
                            <li><a class="dropdown-item" href="#">依價格排序(從高到低)</a></li>
                            <li><a class="dropdown-item" href="#">評價最高</a></li>
                        </ul>
                    </div>*@
                <br />
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_01.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$350/全票</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">義大利怪美殿堂特展</h5>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3">賣出數量:5</p>
                                <div class="d-flex justify-content-between">
                                    @*<a href="~/Home/Home" class="btn btn-sm btn-dark rounded py-2 px-4">詳細資訊</a>*@
                                    @Html.ActionLink("詳細資訊", "Home","Home", new {},new { @class= "btn btn-sm btn-dark rounded py-2 px-4" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_02.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$200/全票</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">克林姆藝術沉浸特展</h5>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3"><p>賣出數量:4</p>
                                <div class="d-flex justify-content-between">
                                    <a href="~/Home/Home" class="btn btn-sm btn-dark rounded py-2 px-4">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_03.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$1690/午餐</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">台北寒舍艾美酒店｜探索廚房</h5>
                                    <div class="ps-2">
                                        @*<small class="border-end me-3 pe-3"><i class="fa-solid fa-heart"></i></small>*@
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3">賣出數量:4</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_04.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$1848/午餐</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">香格里拉遠東大飯店｜遠東 Café</h5>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3">賣出數量:3</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_05.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$1200/午餐</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">台北老爺酒店｜Le Café</h5>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3">賣出數量:3</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/City_Recommend_06.jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$340/全票</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">【數位】詭棋</h5>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p class="text-body mb-3">賣出數量:3</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- botton Space -->
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                    <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

